/* .side_modal h1,
.modal h1 {
  text-transform: none;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 30px;
}
.side_modal h2,
.modal h2 {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 30px;
}
.side_modal h3,
.modal h3 {
  font-size: 18px;
  font-weight: bold;
} */
@keyframes anim {
  0% {
    opacity: 0;
    margin-top: -60px;
  }
  50% {
    opacity: 0.8;
    margin-top: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.side_modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000e3;
  z-index: 99999;
  border-radius: 8px;
  width: 600px;
  overflow: hidden;
  opacity: 0;
  display: none;
}
.side_modal.active_ {
  animation: anim 1.5s ease;
  overflow: visible;
  opacity: 1;
  display: block;
}
.side_modal .img__ {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card_ {
  padding: 20px;
}

@media (max-width: 750px) {
  .side_modal {
    width: 400px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .side_modal .img__ {
    border-radius: 8px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .card_ {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .side_modal {
    text-align: center;

    width: 320px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .side_modal .img__ {
    border-radius: 8px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .card_ {
    padding: 10px;
  }
  .card_ h3 {
    font-size: 21px;
  }
}
/* 
.side_modal.show-it {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.side_modal.show-it .close-panel {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.side_modal .close-panel {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 45px;
  left: -45px;
  text-align: center;
  line-height: 48px;
  z-index: 1;
}
.side_modal .close-panel:hover {
  background-color: white;
  cursor: pointer;
  border: 2px solid white;
}
.side_modal .close-panel:hover i {
  color: black;
}
.side_modal .close-panel i {
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 14px;
  color: white;
}
.side_modal > .wrapper {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}
.side_modal .carousel {
  height: 350px;
}
.side_modal .carousel .image {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.side_modal .container {
  width: 100%;
}
.side_modal .tse-scrollable {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.side_modal .tse-scrollable .tse-scrollbar .drag-handle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  width: 4px;
}
.side_modal .wrapper {
  padding-right: 20px;
}

#map-contact {
  height: 200px;
}

#particles-js {
  height: 100%;
} */
